*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.first{
    width: 100%;
    min-height: 100vh;
    background-image: url(bg.jpg);
    /* background: linear-gradient(to right, #2F1A5B 0%, 14.038461446762085%, #8B2F72 28.07692289352417%, 55.19230663776398%, #7D2466 82.30769038200378%, 91.15384519100189%, #570F41 100%); */
    color: antiquewhite;
    position: relative;
    text-align: center;
    font-size: 70px;
}
.second{
    width: 800px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
       
}
.clock{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(80, 8, 97), rgb(47, 6, 69));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    backdrop-filter: blur(40px);
    
    

}
.inner{
    
    width: 92%;
    height: 80%;
    background: linear-gradient(90.4deg, rgb(248, 52, 246) 0.6%, rgb(152, 38, 252) 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    backdrop-filter: blur(100px);

}
.second::before{
    content: '';
    width: 180px;
    height: 180px;
   
    background: linear-gradient(-225deg,#FFF800 0%, #FF1361 29%, #44107A 67%, #231557 100%);
    border-radius: 100px;
    position: absolute;
    left:-50px;
    top: -50px;
    z-index: -1;
}
.second::after{
    content: '';
    width: 180px;
    height: 180px;
    background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    border-radius: 100px;
    position: absolute;
    right: -50px;
    bottom: -50px;
    z-index: -1;
}
.inner span{
    font-size: 120px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.inner span::after{
    
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);

}
#hours::after{
    content: 'HOURS';
}
#mins::after {
    content: 'MINUTES';
}
#secs::after {
    content: 'SECONDS';
}
